<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <META name="keywords" content="<%= @seo_keywords %>" />

<!--     any style come from the stylesheets blogs file -->
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<!--     if unsure route, use rake routes | grep logout  -->
   <!--  is_a? checks to make sure it's a User class from User model -->
		<% if current_user.is_a?(User) %>
    	<%= link_to "Logout", destroy_user_session_path, method: :delete %> 
    <% else %>
    	<%= link_to "Register", new_user_registration_path %> 
    	<%= link_to "Login", new_user_session_path %> 
    <% end %>

<!--     yield contains whatever content loads in after all the universal stuff above -->
    <%= yield %>

    <%= render "shared/nav", location: 'bottom' %>

    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %>!</p>
    <% end %>

  </body>
</html>
